body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.55)), url("../image/background.jpg");
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    background-repeat: no-repeat;
    font-family: Montserrat,sans-serif;
}
.main {
    display: flex;
    flex-direction: row;
}

.left {
    width: 30%;
    padding: 45px;
    margin-top: 80px;
}

.main_information {
    border-radius: 35px 35px 0 0;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 200px;
}

.main_information > h2 {
    position: relative;
    top: -60px;
}
.my_image {
    width: 200px;
    height: 200px;
    border-radius: 35px;
    position: relative;
    top: -100px;
}

.add_information {
    display: flex;
    flex-direction: column;
    background-color: rgba(230, 196, 73, 0.8);
    border-radius: 0 0 35px 35px;
    padding: 20px;
}

.right {
    padding: 45px;
    width: 70%;
}

.summary {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    border-radius: 35px 35px 0 0;
    margin-top: 80px;
    padding: 20px;
    align-items: center;
}

.summary > p {
    font-size: 17px;
}

.skills_head {
    background-color: rgba(230, 196, 73, 0.8);
    display: flex;
    flex-direction: column;
    padding: 20px 0  0  0;
    align-items: center;
}

.skills {
    display: flex;
    flex-direction: row;
    padding: 0 0 20px 0;
    background-color: rgba(230, 196, 73, 0.8);
}

.skills_left {
    padding: 0 20px 0 20px;
    align-items: center;
}

.skills_right {
    padding: 0 20px 0 20px;
    align-items: center;
}

.experience_head {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    padding: 20px 0  0  0;
    align-items: center;
}

.experience {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 0 0 20px;
}